body {
	background-color: #33333D;
	color: #DDDDFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	max-width: 800px;
	line-height: 1.6;
	margin: auto;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: underline;
	color: #DDDDFF;
}

a:hover {
	background-color: #555;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: #DDDDFF;
	text-align: center;
	font-size: 16pt;
	padding: 15px 25px;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #1F1F27;
}

.drop:hover .droptop {
	background-color: #1F1F27;
}

.toc li a:hover {
	background-color: #1F1F27;
}

.drop .droptop {
	display: block;
	color: white;
	text-align: center;
	font-size: 16pt;
	padding: 15px 25px;
	text-decoration: none;
	border: none;
	outline: none;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.toc {
	display: none;
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 1;
	outline: 1px solid #1F1F27;
	background-color: #33333D;
}

.toc li {
	float: none;
}

.drop:hover .toc {
	float: none;
	display: block;
	text-align: left;
}

.grad-desc {
	color: #AAFFAA;
	font-family: "Lucida Console", Courier, monospace;
	font-variant: small-caps;
}

.highlight-box {
	background-color: #23232D;
	margin: 0px, 8px;
	padding: 8px;
}

h2 {
	font-size: 10pt;
	font-weight: normal;
}

.fiction {
	text-indent: 30px;
	line-height: 1.5;
	font-size: 14pt;
	font-family: "Nunito", Arial, sans-serif;
}

.byline h1 {
	margin-bottom: 0px;
}

.byline h2 {
	margin-top: -16px;
}

.no-indent {
	text-indent: 0px !important;
}

.link-gallery {
	max-width: 50%;
	margin: auto;
	display: flex;
}

.gallery-item {
	flex: 50%;
	padding: 8px;
}

.gallery-item p {
	text-align: center;
	font-size: 16pt;
	color: #ffd60c;
	margin-bottom: 4px;
}

@media only screen and (max-width: 600px) {
  /* Change the font size for easier reading on smaller screens */
  body {
    font-size: 14px;
  }
  
  /* Make the navbar links stack vertically */
  .navbar li {
    float: none;
    display: block;
    width: 100%;
  }
  
  /* Hide the table of contents initially */
  .toc {
    display: none;
  }
  
  /* Make the dropdown menu display when its parent is clicked */
  .drop:hover .toc {
    display: block;
  }
  
  /* Adjust the padding of the navbar links */
  .navbar li a {
    padding: 10px;
  }
}
