---
---
<!DOCTYPE html>

<html>
  <head>
  	<title>Gradient Descent</title>
  	<link rel="stylesheet" type="text/css" href="style.css">
    <meta property="og:title" content="Gradient Descent - FLUORESCENT GRAVEYARDS" />
    <meta property="og:url" content="https://nadezhdu.github.io/cyb-ant/v2c10.html" />
    <meta property="og:image" content="https://nadezhdu.github.io/cyb-ant/2_10_banner.png" />
    <meta property="og:type" content="article" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <a name="top"></a>
  	
    {% include navbar.html %}

    <img src="2_10_banner.png">
    <div class="byline">
      <h1>FLUORESCENT GRAVEYARDS</h1>
      <h2>by Nanda Speaks</h2>
    </div>

<p class="no-indent">This is a setting. It consists of this, the primary text, and three appendices. You could use it to GM an RPG, using whatever ruleset felt appropriate, or perhaps brewing your own. Or you could simply read it, alone, late at night, somewhere quiet and softly lit, the way it was written.</p>
<h3 id="heading-2">I. SKY</h3>
<p class="no-indent">The sky is an eye.</p>
<p>Slowly, from left to right, it is turning to crystal, a creeping line of amethyst, a progress bar creeping towards completion. This takes place over decades, centuries.</p>
<p>Perhaps this is not surprising. After all, everything turns to crystal.</p>
<h3 id="heading-3">II. CRYSTAL</h3>
<p class="no-indent">The end state of all matter is crystal. The process is entropic, irreversible - agitate anything for long enough and probability will do the rest.</p>
<p>Particularly pungent flowers and plants, for example - from the fragrant molecules that dance so furiously through the air, inevitably some must harden, fall to the ground as a fine crystal dust.</p>
<p>Crystal does not dissolve, cannot be absorbed or broken down. Perhaps that matters less than you'd think, in the short term - after all, over the eons, you and the life you see around you have evolved towards states as unlike crystal as possible.</p>
<h3 id="heading-4">III. VOID</h3>
<p class="no-indent">In a sense, void is simply dead pixels, tiny dots of nothing that hang in the air, but the nothingness goes beyond the merely visual. Voidstuff is dead to every sense, a hole in the world.</p>
<p>The shadow of void remains void. In this way, with caution and precision, sculptors can fold it back on itself, build solid shapes of pure absence.</p>
<p>All meat grows around a tiny piece of void, like a pearl around grit.</p>
<h3 id="heading-5">IV. LOCATION: THE MEMORY PALACE</h3>
<p class="no-indent">Everyone's mnemonic. Limitless-seeming halls and chambers, packed with strange objects arranged to help with recall, or communicate codes. The rich buy homes nearby, for easier access to their memories; the very rich don't need to.</p>
<p>The palace feels higher resolution than the rest of the city; somehow more detailed, more real.</p>
<p>Shadows here are a code, reflections another. Say the right password down a crowded hallway, and the objects are arranged so that the echo returns transformed, decrypted.</p>
<p>Secret passages under carpets, false doors. With each additional sense you acquire, your understanding of the place deepens, patterns incoherent before become apparent.</p>
<p>Outside, a wasteland, kicked-in brickwork, graffiti everywhere, discarded bottles. Visitors hurry in without looking too closely.</p>
<p>Ingesting quicksilver alters the parts of the palace you traverse most - it damages your memories, of course, but those of others too, whose mnemonic routes cross yours at right angles, or travel together for a few short steps.</p>
<h3 id="heading-6">V. QUICKSILVER / GLINTMOTHS</h3>
<p class="no-indent">The moths are the drawing of angels, who lack imagination.</p>
<p>They steal crystal, dragging it home a single fleck at a time to build their spire - its alien geometry that passes into progressively higher dimensionality as it rises.</p>
<p>Glintmoths draw energy from light, sound, smell, every other sense. Carefully depriving them of one or more causes the other receptors to swell, can shape them into something new.</p>
<p>Crushed, they become tiny, darting blobs of quicksilver. Swallowed, the memory palace changes, and you gain for a few precious hours access to additional senses.</p>
<p>Surround void with quicksilver and matter returns, rushing in to fill the vacant space, contents derived probabilistically from the surrounding space. Most of the time, it gets it right.</p>
<h3 id="heading-7">VI. SENSES</h3>
<p class="no-indent">The wild lostness of those who walk about the streets, gorged with new knowledge, stumbling, helpless, glintmoth silver still on their lips.</p>
<p>New senses are granted embryonic, untrained - newly infantile, you must learn again how to see solid edges, corners, distinguish near from far.</p>
<p>Even mastered, greater sensory awareness also makes one more vulnerable to adversarial attack, stimuli that overload buffers in your perception, grant to the adversary root access to your body's processes.</p>
<p>For every sense, there is some equivalent of 'reading', the condensation of information into something legible to someone properly trained and equipped with the right sensual apparatus. For every sense, such 'reading' is impossible in dreams.</p>
<p>Magnetic graffiti that litters the city, tagged obscenities invisible to the law.</p>
<h3 id="heading-8">VII. CHRONOLOGY</h3>
<p class="no-indent">We sense the passage of time. In most of us, it remains underdeveloped, barely capable of even the grossest distinction ("the hours just flew past!"). To the initiate, regions have their own flows, tiny relativistic pushes and pulls that contour and colour.</p>
<p>Sensates are often appalled by artworks pleasing to others; they shudder in revulsion at the ugly chronality of a painting, whose creator seems to have given no thought to the matter at all.</p>
<p>(Their own art is incomprehensibly ugly to others - a senseless jumble of lead and logic.)</p>
<p>Some of the senses are more sexual than others. For most with the relevant training, the chronologic ranks with the visual and tactile as the most erotic - the olfactory and magnetic important too, sound and taste largely secondary concerns.</p>
<p>Quicksilver is chronological static - a miserable, headache-inducing blur to the sensate, time flowing at microscopically different speeds in a blinding patchwork.</p>
<h3 id="heading-9">VIII. [NAMELESS]</h3>
<p class="no-indent">There is a final sense, rarest of all, which only exists in dreams, so that to assess an object through it that object must be seen twice - the first time awake, where it must through trauma or wonder leave enough of an imprint to be dreamt about.</p>
<h3 id="heading-10">IX. LOCATION: PALACE GIFTSHOP</h3>
<p class="no-indent">Of course, any tourist attraction has a gift shop. The Memory Palace is no exception.</p>
<p>Among its wares, seeds, which with proper care begin to grow into palaces of their own, sprouting space and logic, a favourite particularly with children, who love them and then inevitably abandon them, leaving husks that litter the city.</p>
<h3 id="heading-11">X. AN EVENT</h3>
<p class="no-indent">Sometimes the great eye weeps, towering prisms of crystal that fall from the heavens, smashing themselves apart on the roofs of buildings. Reading in your room, you resent the distraction, nurse a soft but persistent headache.</p>
<p>Aspiring chronologists gather around the fallen shards, training their nascent capability, for crystal alone is fixed, unmoving, time has no meaning to it, here is a perfect zero by which the other numbers can be calibrated.</p>
<h3 id="heading-12">XI. LOCATION: STREETS</h3>
<p class="no-indent">Instead of maps, posts wired up with tiny stim-needles: injected into flesh, they pump the user with local geography, more and more detailed as it courses through the bloodstream. Stim-heads wander the city, craving fresh cartography.</p>
<p>Superstitious residents paint their faces, drawing black triangles over a single eye, obscuring their hair with hoods, dabbing patterns of coloured rectangles at strange angles onto their cheeks. No-one now remembers why.</p>
<h3 id="heading-13">XII. CCTV</h3>
<p class="no-indent">Sound recorders that grow like mushrooms in dark, wet places, then burst into spores, dispersing their data into the waiting aether.</p>
<p>An ultrafine powder that courses through the subject's bloodstream, motion tracked, telling the whole story of their movements.</p>
<p>CCTV that records only thoughts. CCTV that records not what actually occurs, but the likeliest thing to happen. CCTV that writes directly to the memory palace, its observations stored as the angle between that panel, that footprint, that vase.</p>
<p>Every recording device has an event horizon, the point at which something becomes nothing, leaves no trace, flickers out of being as the last '1' becomes a zero. Concentrate many such devices on the same point, and it becomes both more and less real, a kind of evocation.</p>
<p>There are those who seek to stage events, rituals almost, such that their storage overrides buffers in the cameras, stealing access, gaining control, so that further patterns of light and action become commandments that must be obeyed. Nothing</p>
<p>new - as you walk the streets, most of the jutting cameras you pass are sites of internal war between competing, long-dead botnets, their purposes long meaningless, capturing frames of footage at stuttering resolution between endless internal competition for resources.</p>
<h3 id="heading-14">XIII. FUNGUS</h3>
<p class="no-indent">Fungus grows best in dark and quiet - best of all, therefore, surrounded by void, where it grows limitlessly, exponentially.</p>
<p>There is fungus coded to your being as that-which-is-absent, fungus that only grows in your shadow. Ingested, you perceive yourself in a glow of pure and perfect love.</p>
<p>There is fungus whose ingestion restricts your world to a single sense, crossbreeds offering intense, wild synaesthesia.</p>
<p>There is fungus, fatal if ingested, yet in the interim, as it courses through your bloodstream, the only way to produce certain smells, fragrant passwords to locked and hidden places.</p>
<h3 id="heading-15">XIV. BIRDS</h3>
<p class="no-indent">The birds are grey, mostly, lighter and darker shades rarer and rarer, pure white and black almost unknown, asymptotes approached but never claimed.</p>
<p>They flock in perfect arcs, probabilistic distributions written across the sky. Their calls are static, soft bursts of quiet white noise. They do not appear in dreams.</p>
<p>Blood, water, all fluids are drawn to them - they settle at a crime scene and police watch blood curve through the air in arcs towards them, noting the geometry, performing forensic divination. The angels devour them, their mouths bloody and full of feathers.</p>
<h3 id="heading-16">XV. LOCATION: CONVENIENCE STORE</h3>
<p class="no-indent">A store built on a glitch - once per night time judders, shelves refill with snacks, energy drinks, instant coffee, grey market modafinil, CCTV footage goes blank.</p>
<p>Behind the counter: carefully synthesised drugs to offer the exact experience of sex, adventure, triumph, moment by moment, nano-timers releasing molecules into your bloodstream at the perfect second, synthetic dreams.</p>
<p>Outside, an ATM altered by thieves, invisible overlays placed over fingerprint and iris scanners, so that these are stolen along with your other details, wiped away, left blank, the end of your finger a smooth expanse of featureless pink.</p>
<h3 id="heading-17">XVI. LOCATION: TRAIN</h3>
<p class="no-indent">No fixed routes, but rather each journey as a miniature auction, salarymen tapping out micropayments to influence their destination, arriving late an undeniable failure of commitment.</p>
<h3 id="heading-18">XVII. LOCATION: BUTCHERHOUSES</h3>
<p class="no-indent">Here, where void is plentiful, vast shelves of flesh grow like cancers, crawling up walls and each other. Atop them, fungi grow in strange symbiosis, nourished by their richness, shaping and stabilising their growth.</p>
<p>Glintmoths that feed on the spores, becoming ergotised, building the nearest corner of the spire into a hallucinogenic geometry of broken hexagons and twisted curves.</p>
<p>The oracle of this place is enormous, corpulent, clusters of mushrooms where his eyes should be, his torso nothing but a maze of intestines; rather, the place is his intestines, it is his maze, to walk through it is to explore him.</p>
<h3 id="heading-19">XVIII. ORACLES</h3>
<p class="no-indent">The city is full of oracles, half-transcended, ageless, who will, if found and properly petitioned, answer a single question. (<i>If playing Fluorescent Graveyards as an RPG, finding and consulting an oracle is the most likely form for a mission or quest to take.</i>)</p>
<p>They are found at the centre of a maze, sculpted according to their nature.</p>
<p>At the centre of each maze, a locked chamber.</p>
<p>In that chamber, the oracle, so long as the petitioners are wearing the veil appropriate to the one they seek. Otherwise, the chamber is empty.</p>
<h3 id="heading-20">XIX. MAZES</h3>
<p class="no-indent">A maze takes many forms.</p>
<p>The one you're imagining - the cold stone walls, the hot breath of the minotaur - is a touchmaze, a feelmaze. There are sightmazes, soundmazes, mazes that exist as properties of senses not yet acquired. Mazes in both time &amp; space, so that the geography of their paths is only half the solution, and those who walk them blindly emerge stumbling at the wrong time, and find nothing.</p>
<p>Mazes that cross each other, recontextualise one another's elements. Mazes that start anywhere, combinations of right and left turns that convene on a single point regardless of their origin. Mazes that exist as networks of secret passageways between dreams.</p>
<h3 id="heading-21">XX. LOCKS / KEYS</h3>
<p class="no-indent">Most locks are digital, now. A few are otherwise - a drop of blood with the right DNA, a block of carefully cut nothingness, a signet ring bearing the shapes of the first angel.</p>
<p>But most are codes, things to learn through observation. Sometimes the great eye blinks, and another surface is visible for a moment, a vast emptiness dotted with marks and valleys a language no-one knows. Or perhaps the blinks themselves are code, morse-like, hours of '1' bookending a single '0'. There is a password the birds know, and have no particular reason to ever share, and a password that seems a senseless sheet of static, of visual white noise, until it is held to a mirror. A password encrypted in the pattern of tears of a weeping statue, a password hidden in the shadow of another.</p>
<h3 id="heading-22">XXI. VEILS</h3>
<p class="no-indent">It covers the hair and brow, the nose and mouth below. Between, a thin, horizontal slit of nothing - no eyes, no skin, only the air behind.</p>
<p>It is of bone, sliced so thin that it becomes half-translucent.</p>
<p>A hundred strands of glassthread, each hooked at the end to tear your skin as you walk, flagellation and modesty all at once.</p>
<p>It is feathers, purest white and purest black, ordered just so.</p>
<p>It is fabric, filled with circuits and transistors, constantly calculating. Inside each circuit, a veil, so that its function is hidden from itself.</p>
<p>Behind it your face is the average of all it could be. With time, it becomes a skull.</p>
<p>Such a veil - the pattern of its threads is a map.</p>
<h3 id="heading-23">XXII. LOCATION: SHAPE DISTRICT</h3>
<p class="no-indent">Vendors offering every kind of modification.</p>
<p>Vocal surgeons, happy to pull your larynx, your diaphragm into the shape of another (popular choices sing out as you pass, clutching the scrap of paper on which your chosen parameters are printed). Or the new style, fashionable this year: your throat coated with quicksilver, so that your voice fluctuates from syllable to syllable, phrase to phrase, leaving no impression but its mutability.</p>
<p>Seed vendors, plucking out great handfuls of seeds from their eye-sockets, kept safe and warm in that hollowed space where they grow overnight, casting them grandly into wooden crates to start the day's commerce.</p>
<p>Tattoo artists who scarify with crystal, so that their impressions are fixed, immutable, and hence capable of unlimited precision. Who offer tattoos only visible on your shadow, or tattoos on the inside of your skin. Adversarial tattoos, that cause</p>
<p>machines and friends alike to misclassify you as someone or something else. A tattoo that solves a maze - not because it is a map, but because it is weighted so precisely that each turn the way that feels easy and natural is the right one.</p>
<p>Gutters that flow with liquid change. Lifting a grate, reaching downwards, your arm comes out as static, a riot of greyish dots, constantly in flux, receding slowly back to flesh three or four hours later.</p>
<h3 id="heading-24">XXIII. LOCATIONS: PLEASURE HOUSE</h3>
<p class="no-indent">Chambers of delight.</p>
<p>Sexbots shaped as a mass of a million wings, alive in the air, clustering themselves into shapes the algorithm predicts you will find erotic.</p>
<p>Sexbots running off enormous datasets, pleasures in the exact ratio that they are desired by the wider population - to many, bland and confusing, to the one person perfectly typical, the sublime experience.</p>
<p>A private room, your name all over the walls, over you, the light soft at first but then bright, neon-acid, font after font, sigil after sigil, your name, for days afterwards you see it on buildings all over the city, an afterglow.</p>
<p>For submissives, the experience of being a root, perfect devoted support, never seeing the sun's light, knowing without knowing the beauty of what you love and serve.</p>
<p>At its centre: a huge round room, decorated in an almost Georgian fashion, quite unlike the rest of the city. Inside this: the piano whose notes determine the weather for the coming days.</p>
<p>Inside this: the dial that is turned to determine the colour of the sky. The sky cannot be seen from the room that holds it; the connection is undiscovered, few inside in any case having much concern with causality.</p>
<p>A sexual act that consists of merging with a being of pure warm light, feeling purposeful, cleansed. The height of decadence, a sexbot in living flesh.</p>
<h3 id="heading-25">XXIII. SENSE PLANTS</h3>
<p class="no-indent">For every sense, a factory.</p>
<p>The light plant is still functional, the others long broken - hence there is ambient light, but no longer ambient taste or texture.</p>
<p>Excess light capacity is stored as flowers, a garden of impossibly vivid blossoms genetically engineered to thrive amid lightstuff in such industrial quantities, blooming furiously in a single day.</p>
<p>Day and night as power-saving measure.</p>
<p>In the sound plant, storage is handled differently, echo rooms carefully designed so that noise rebounds endlessly - everything ever said is here, layered over and above itself.</p>
<p>There is an oracle whose maze is sound itself, the sum and total of every soundwave traced together into a map, one that is incomplete and unsolvable for as long as the Sound Plant remains disabled.</p>
<p>Whose veil is crystal, worn not over the face but as part of it, crystal replacing the eyes, so she cannot be seen nor anything else, ever again.</p>
<h3 id="heading-26">XXIV. SEEDS</h3>
<p class="no-indent">Sold at the market, seeds come in many forms.</p>
<p>Seeds that become passages, and glow under the surface of the earth. Viral seeds, unfolding underground into disjointed chaos, mad polyhedra of broken static. Voidseeds, grown in black gardens, carefully cultivated strands of nothing. Seeds that hold whole senses, logically whole but incommunicable, growing into trees like tiny self-contained universes.</p>
<p>Most seeds require quicksilver as nourishment. Some prefer ink, one or two blood or electricity.</p>
<h3 id="heading-27">XXVI. FOOTAGE / DIARIES</h3>
<p class="no-indent">Under the palace: cold bare halls, fluorescent lights that flicker in joyless rows.</p>
<p>It holds records of every kind. Voice sticks, memory spheres, thumb-locked holographic displays, even a few tattered paper diaries. Most are of little interest to anyone. But the seeker who knows the right reference code might find:</p>
<p>The ledger in which new tattoos must be registered, and hence the secrets encoded within them.</p>
<p>The recordings, for a given individual, of that subject's dreams. Cross-referenced, if you know how: those of all the dreams in which they feature.</p>
<p>A list of veils, ordered according to an unclear principle.</p>
<p>A logbook consisting only of numbers, spanning between zero and one and to great accuracy, tracking not what happened but its likelihood.</p>
<p>That which records not the subject's actions but their emotions.</p>
<p>A set of instructions, continually updating, concerning the folds that would render, out a single, impossibly large rectangle of paper, a life-size model of the present state of the world.</p>
<p>The proper ordering of the angels.</p>
<h3 id="heading-28">XXV. LOCATION: TEMPLE</h3>
<p class="no-indent">You watch from outside. Pilgrims entering one at a time, or kneeling to make a final penitence before entering. Over time, the footage loops - you notice the same faces going in, the same mannerisms, eventually the tiny shudder where it joins together.</p>
<p>Hourly rituals, sound and vision a half-second out of sync. At their height, congregants put on thin white veils, across which advertisements flicker constantly.</p>
<p>At the centre, in some way brought into being by all of this, the garden of folding. A place of perfect peace, where offerings are taken and folded into quite other things, without the tiniest implication of cost.</p>
<p>Cloisters, grass. A pond. Lily pads drift softly above the surface. Beneath them, labyrinthine roots of wire and metal, drinking in the waters.</p>
<p>Once removed, the leaf withers, a computation aborted, processes suspended one by one.</p>
<h3 id="heading-29">XXVI. ANGELS</h3>
<p class="no-indent">The angels are a draft, a sketch. Crosses through their faces, their trunks a How-To-Draw book's penciled cylinders, limbs just pairs of lines that meet at disc-like joints.</p>
<p>The oldest, greatest angels, the first, are the simplest - single lines in space, pairs of disconnected circles.</p>
<p>Reflected in a mirror, Angels make no sense, cannot exist or have existed. The glass is blank.</p>
<p>There is an ordering of the angels, kept in the archives, each page a more detailed image, so that to follow through to the end is to create life.</p>
<p>There is another ordering too, quite different - were the angels arranged thus, they would form a maze. To walk it would be to gain free will; to walk it backwards is to lose it.</p>

<hr>

<h2>APPENDIX A: ITEMS</h2>
<p class="no-indent">Instructions for the origami technique that folds up your shadow. Instructions for the origami technique that restores it.</p>
<p>A deep-dreamt peacock, the spots of its tail real eyes; as you gaze at them they deepen like liquid to hold new feathers, new eyes. (Its tears, too, are fractal, bottomless - inside each, the peacock again, in all its shifting infinity.)</p>
<p>A torch that shines pure darkness on whatever it points at.</p>
<p>A dream diary in reverse, one that narrates your waking life, but that is only tangible in dreams. A clear glass hemisphere, a snowglobe. Inside, a rectangular screen, thin as card, shows a winter scene, armchairs against wooded cabin walls.</p>
<p>&gt;Shake it.</p>
<p>Setting 0: Nothing happens.</p>
<p>Setting 1: A storm of perfectly cubic, three-dimensional pixels light everywhere inside the hemisphere, then slowly dim and die. The screen is unchanged.</p>
<p>Setting 2: It shakes the world.</p>
<p>The latest hotfix, a patch for your eyes, correcting the latest adversarial misapprehensions. A tube of glasspaint, that can be painted onto anything to make it transparent. A spraycan whose contents are imbued with weighted veins of quicksilver, so that every tag resolves into the same shape, a map.</p>
<p>Mechanical fungus, folding out in tiny, audible cranks.</p>
<p>The opposite of a mirror, an item that is reflected in all nearby surfaces, whether concrete, fabric, flesh...</p>
<p>The fold that locks in sound. The fold that locks in smell.</p>
<p>Clone bugs, tiny blobs of quicksilver on mechanical legs that shape themselves into anything, or anything of the right size.</p>
<p>A mirror that flips other senses as well as sight, inverting smell and sound (though the latter sounds identical), electromagnetic charges reversed, you press your fingers against a familiar texture and feel the absoluteness of its absence.</p>
<p>A perfume bottle; through the atomiser it sprays smellstatic, a frantic and ever-shifting pattern, every smell and none.</p>
<p>A camera that records only fluorescence, echoes, the brush of the subject's skin against the air; the footage not surveillance but pornography.</p>

<hr> 

<h2>APPENDIX B: CHARACTERS/PLOTS</h2>

<p class="no-indent">(Dotted around the city, perhaps, or seeds for player characters. Quest hooks. GM stuff.)</p>
<p>Your security questions aren't for identity. They're collateral. Violate the terms of service, and the name of your first pet, the street you grew up on, are taken from you.</p>
<p>Riddled with minor defects - whorls, moles, a lazy eye that points downwards. Her DNA is a message, engineered for communication rather than functionality. To whom it was directed, whether they ever received it, she does not know.</p>
<p>One who can guide you through a maze - not because he knows the way but because he practiced saying that he could, over and over, until he found the way to say it such that it was true.</p>
<p>Her voice doesn't sound like a voice. Your senses insist it's a smell, a texture, no, a smell again, a pattern.</p>
<p>One whose tears are tiny cubes. One whose tears are tattoo ink, staining indelibly everything that they touch. One whose tears, as they hit the ground, burst into tiny sparks of static.</p>
<p>Sexuality is genetic - which means it can be engineered. Hers is towards passageways, secrets, mazes, riddles; things that might interest those monitoring the transmitter encoded elsewhere in her genome.</p>
<p>Beneath his hairline, a tattoo, unnoticed, a coded message inked in infancy, the ink fading, decaying, at a certain carefully selected point years later leaking into the brain, compelling certain actions.</p>
<p>One completely without sensation, each locked by an individual password.</p>
<p>A safekeeper, whose trust you have won; carefully he unfolds the air around you, uncovering a rectangle of pure black. He reaches inside, pulls out what you asked for, reverses his operations to seal the world shut.</p>
<p>An adversarial image for human wetware, appearing man-like, you're confident it's a man, that's certainly what it is, though the details fray at the edges. His footprints are like nothing you've ever seen.</p>
<p>Her body is origami, constructed of a single folded sheet, on which is written the hundred-thousand folds required to do such a thing and have it live.</p>
<p>The flats under the graveyard. Cheap, rented rooms, quiet, tomblike, outside of day and night, a place to watch a flickering screen and practice being dead. You live here, of course. You're tired almost all of the time.</p>

<hr>

<h2>APPENDIX C: ORACLES</h2>

<p class="no-indent">An oracle whose maze is mapped by the network of veins and capillaries. Whose lock is heavy with blood, so that droplets, vivid and crimson, splash out as you turn the key.</p>
<p>Whose veil is blood, which must pour continually, so that a moving red film stands always between you.</p>
<p>Who stands surrounded by birds, their magnetism pulling the droplets into patterns that answer your question.</p>
<p>Half of your blood is true - the rest is a mirror, blind, answering to no logic but that of reflection and symmetry.</p>
<p>Who alone knows which half is which.</p>
<p>——</p>
<p>An oracle whose maze is in footage, recordings, each leading to the next, traced out by lines of motion that cut from video to video.</p>
<p>Whose chamber is locked with a password that shifts algorithmically to be the sum of every attempt to open it since it came to be, so that to know it is to have observed everything that came before.</p>
<p>Whose veil is blurred and shifting pixels.</p>
<p>Whose eyes are cameras. Whose ears are eggshell bugs on the walls. Around whom drones fly and wheel.</p>
<p>Who sees the present as past, and thus changable, knowing the location of the records which, if deleted, would make it otherwise.</p>
<p>An oracle whose maze twines underground, in darkness of every sense, and is navigated by changing oneself, a series of injections that twin one's genome with that of flowers and stalks, so that one turns and turns towards the sun.</p>
<p>Cultures progress through stages - at first ashamed of visual nudity, then that of smell, the untreated body something to hide away from the world; finally they come to fear their nakedness of chronology, probability, electromagnetism.</p>
<p>(Whose chamber is locked by such shame, and unlocked by its absence.)</p>
<p>Whose veil is glass, a single thin sheet, a false modesty for a naked oracle.</p>
<p>——-</p>
<p>An oracle who weeps constantly, tears drawn into grooves that scar her face, the liquid splitting and rejoining as it falls through the lattice, descending into distributions of probability.</p>
<p>——</p>
<p>An oracle whose maze is the lines connecting every particle of void in the world. Who can be sensed only as absence, as lack.</p>
<p>——</p>
<p>An oracle whose maze is mazes, stacked against each other. Whose password is the hash of a hundred others. Whose veil is veils, veils upon veils, sewn together, cut so tightly that their natures blur, and what waves before your face is change and secrecy and static.</p>

    {% include content-footer.html %}
  </body>
</html>
