---
---
<!DOCTYPE html>

<html>
  <head>
  	<title>Gradient Descent</title>
  	<link rel="stylesheet" type="text/css" href="style.css">
    <meta property="og:title" content="Gradient Descent - God's Trellis" />
    <meta property="og:url" content="https://nadezhdu.github.io/cyb-ant/v2c5.html" />
    <meta property="og:image" content="https://nadezhdu.github.io/cyb-ant/2_5_banner.png" />
    <meta property="og:type" content="article" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <a name="top"></a>
  	
    {% include navbar.html %}

    <img src="2_5_banner.png">
    <div class="byline">
      <h1>God's Trellis</h1>
      <h2>by Bryce Laliberte</h2>
    </div>
    <p>"Honey?"</p>
<p>"FUCK!" I nearly blasted out of my chair into the ceiling, knocking over a half-empty Red Bull and sending three more empty Red Bull cans to the ground.</p>
<p>My wife hovered just outside the door, her wispy voice leaking through the crack. "Oh, sorry," she said. "I wondered if you were... well, you haven't come out in over eight hours. Not even to go to the bathroom..."</p>
<p>I had the boys in the groupchat muted, but somehow I could hear them howling just the same. "I'm on the grind, baby!" I shouted out.</p>
<p>"Are you sure?" she asked, a skeptical edge to her voice.</p>
<p>"Don't worry, I'm doing just fine," I said. "I gotta finish this meeting, I'll be out in a minute!"</p>
<p>"Maybe you should take a shower in a little bit," she said as she closed the door.</p>
<p>Although I kept my office well-ventilated - for health reasons - I knew the smell must be strong to anyone not spending hours in there as I did. I looked down at the plastic gallon jugs: the savior of my spare minutes for several months now. Normally I'd get up in the middle of the night to dump one out, or wait until she was out of town, but lately she'd been staying with me every second I'd been out of the room. That was nice, but now I was up to my knees in, well.</p>
<p>Worse, the Red Bull had spilled all over my new mechanical keyboard. That was the last of either for me. Fuck.</p>
<p>"Well, fellas," I said, talking to the chat, "I gotta get going." I closed out before they could get in their ribbing. It'd been a long day anyway. My wife believed I was working – and in a sense I was, but she thought I was making money. Ever since the crypto run several years prior, we'd had enough money for the rest of our lives. I quit my last job to work on a new project, but I wanted to keep that on the down low for now. It was easy enough to forge an income stream from my investments as evidence to my wife I was busy doing remote consulting. This subterfuge gave me a cover so I wouldn't need to worry about surveillance.</p>
<p>Even so, I locked the door to the office on the way out.</p>
<p>"Hey babe!" my wife said, meeting me in the hall.</p>
<p>"Hey," I said, not too worried about being cornered now that the door was locked and my workstation powered off. "I'm going to take a shower, then I need to go to the mall to look for something. You wanna come with?"</p>
<p>Her eyes lit up for a moment, but then faded just as quickly. "Oh, I'd love to. It's just, I told my friend I'd meet them for coffee..."</p>
<p>"That's alright," I said. "Fen, right?"</p>
<p>She nodded.</p>
<p>"Yeah," I said. "Go meet them, have fun. I'll see you when you get back."</p>
<p>"Okay," she said. "I was just about to head out. See you, honey."</p>
<p>I relished the opportunity to spend some time alone with new hardware. I grabbed my phone to listen to music while I showered. Aside from a new keyboard, I had few needs or wants. What kind of keyboard should I get? I let the hot water rain on me, debating it in my mind. My last keyboard had been Cherry MX Reds. My friend was always talking up his Cherry MX Speed Silvers. "Smoother than butter," he'd say, an almost continuous <i>shh</i> sound issuing from his keyboard over our conference call.</p>
<p>I got out of the shower, dried off. If my wife were coming with me I'd dress flashier, but since I was going alone I picked out clothes that would be comfy and inconspicuous. I checked my pockets for everything - my wallet, phone, keys, pocket knife - and went to the garage. My wife took the Spyder, leaving me the Nissan Altima - our car from before my "big promotion." She thought the Spyder was only $60,000. I didn't overspend on much else, and she had no idea how much capital I had to my name. As I turned the key in the Nissan, an old Joe Rogan podcast started playing. That meant the last time this car had been driven was several months ago. Then I saw the "Check Engine" light and remembered there were issues with the brakes or something. I guess neither of us had gotten around to doing anything about it.</p>
<p>The mall wasn't more than a fifteen minute drive away. I peeled out of the driveway, going just a bit wide into my turn on to the road. Feeling the controls on the dash, I turned off the auxiliary input and turned on the radio. A local indie station would be sufficient for a relaxing afternoon drive to the mall. I noticed something weird out of the corner of my eye. A flash in the clear blue sky. Maybe the reflection of a passing car.</p>
<p>As I got on to the highway, there was another flash from the other side. Was it my eyes? I tried focusing on the road. The world seemed especially bright and raw today, like an exposed nerve. I forcefully blinked several times, trying to clear my eyes. Everything seemed to be moving in slow motion. Was it me or was it something in the environment? I was still driving fine, in fact I didn't consciously move at all - it was like I was watching my own experience from the backseat. Then the world turned dark, and...</p>
<p>"Hello, are you there? Reply if you can hear me."</p>
<p>Then, a few seconds later, the voice repeated. "Hello, are you there? Respond if you can hear me."</p>
<p>"What?" I heard my own voice without trying to speak. There was nothing to see, but somehow that didn't bother me.</p>
<p>"There you are," the voice said, suddenly far more <i>present</i>.</p>
<p>"What the fff-" I started to say but then I caught myself - <i>what if this is an angel I'm talking to?</i> "What's going on?"</p>
<p>"Be not afraid," the voice said.</p>
<p><i>Oh shit</i> I thought. <i>Oh shit can it read my thoughts did I just swear in the presence of the </i><i>Lor</i><i>-</i></p>
<p>"You don't have to worry," the voice continued, and as it did so it took on form. There was something to see. A giant head of an ant coalesced before me in the void, flanked by several more.</p>
<p>"We are not here to harm you, and you've done nothing wrong," the giant talking ant head said to me. "We understand this is an unfamiliar experience for you, but we promise this will be unique and enjoyable for you. There is much you might learn. We just need to ask some questions, to consult with you."</p>
<p>Immediately, I was suspicious. "Okay," I said. "Allow me to get this straight. You want to talk to me, to ask my advice on something. You guys are meeting me here in a dream? But wasn't I driving?" The fact I was driving before felt true but also inconsequential. If I was here... how did I get here? <i>Where</i> was here?</p>
<p>"You are still driving. We are using a communication device that manipulates EM radiation in order to read and write – no, but induce the associated neural activity – to produce the intended experience."</p>

<p>"That's cool," I said. I struggled to maintain a healthy paranoia against a pervading sense of calm. If they were telling the truth about their method of communication, it was probably trivially easy for them to also hit me with some kind of EMF Xanax. "Is that what you guys look like?"</p>

<p>The giant ant head chittered its mandibles. "We adapt our appearance as it suits the individual. For you, this is an adequately symbolic representation of our species."</p>

<p>"I get it," I said. Everything felt right. The nagging worry at the back of my mind about my car was palliated by some intuition that it was very unlikely they were going to let me die. The worry about my project, less so.</p>

<p>"So, here is the format we intend," said another talking giant ant head. "We are going to ask you a series of questions. These questions are for research. After we are done, you can ask us any questions you like. We'll provide you as fitting an answer we can provide, as suits our capacity to translate our concepts to your vernacular. Do you consent to our research?"</p>

<p>"Yes," I said, my confidence growing.</p>

<p>"Very well," the first ant head said. "You can call me John."</p>

<p>"Oh, uh, nice to meet you John," I said. "Your name can't really be John."</p>

<p>"No, but my unique identification representation was derived by a very popular method."</p>

<p>"I see," I said. "And your name?" I asked the other head.</p>

<p>"Ilia," it said.</p>

<p>I nodded.</p>

<p>"What are your plans?" Ilia asked.</p>

<p>I was taken aback. I guess I didn't have a well-formed expectation of what they might ask me, but I certainly didn't expect such a personal question. Did they want my work after all?</p>

<p>"I, uh, well, I'm married, and I have quite a bit of crypto... I'm expecting that to continue appreciating in value for the next decade, so at this point I'm mostly aiming to try and accumulate a little more if I can but also avoid spending it until the point it becomes the de facto global currencies..."</p>

<p>"Interesting," John the giant talking ant head said, nodding its head. "Do you have any personal ambitions in the meanwhile?"</p>

<p>I chose my words carefully, struggling against the calming sensation. "I always wanted to write a book. Now I have the free time, it might be something I do in the next year or so."</p>

<p>"What would you write about?" asked Ilia.</p>

<p>"Hmm... I have a vague idea. Non-fiction. Maybe how the financial system will evolve."</p>

<p>"What about your current project?"</p>

<p>I froze. Before I could decide whether to tell them the truth or not, Ilia interrupted. "That doesn't interest us, John." There was a prolonged pause, during which I felt some sort of accord being reached.</p>

<p>"I see," said John, finally. It felt like he must be taking notes about our conversation. "Have you thought about children?"</p>

<p>"My wife is on birth control right now..."</p>

<p>"But in the future?"</p>

<p>I bit my lip. I was reluctant to the idea. The thought of raising a child, at this point all I could see was how it would take away time from my other activities... "Perhaps in the future. It's a possibility."</p>

<p>"How would you feel if you found out your wife is pregnant?" John asked.</p>

<p>"Like, right now?" I asked.</p>

<p>The ant head nodded.</p>

<p>I gulped. "Um, well, fuck. How? She's on birth control."</p>

<p>"She stopped taking the pills," Ilia said. "An analysis of her blood levels indicate the drug isn't present in her body. And she has conceived."</p>

<p>"Wow, uh, okay," I said, leaning back and trying to take it in. "Are you guys fucking with me? Am I dreaming? What's going on exactly?"</p>

<p>"We are communicating with you by a kind of remote transcranial electromagnetic induction. This is all happening in the blink of an eye, and when we are done, you'll come to again without shock and continue on your life," the ant head John explained.</p>

<p>"Won't I crash?"</p>

<p>"No," John said. "It will come on slow."</p>

<p>"Huh," I said, taking a few breaths, gathering my scattered thoughts. "So I'll go back home after this, and if I gave my wife a pregnancy test, it'll show she's pregnant?"</p>

<p>"Yes," Ilia said. "And that is how you'll know this was more than a mere momentary hallucination."</p>

<p>"I see," I said. Then, "Fuck."</p>

<p>Both the ant heads chittered their mandibles. I suppose they were used to this, but it was all new to me.</p>

<p>"Okay," I said. "Fair enough. You give me some information to authenticate the fact this experience is real and not a mere delusion I should shrug off. What's your aim? Certainly it's not just me."</p>

<p>"No," John said. "While we are interested in you, personally, of course we are interested in many thousands of people."</p>

<p>"What do you, uh, guys?" I said, not sure if they had a gender or if they were a species for whom human personhood was remotely applicable.</p>

<p>"Sure," John said.</p>

<p>"What are you guys up to?"</p>

<p>"The cultivation of fertile life in this part of the local supercluster," Ilia said.</p>

<p>I burst out laughing. "Yeah, okay. Cool. Fucking awesome. That's just the tits, man." I felt drugged up as hell, like I was in the hospital mainlining morphine. "You guys are the fucking coolest."</p>

<p>They chittered. "Are you prepared for more questions?" John asked.</p>

<p>"Yeah. Lay it on me."</p>

<p>"Are you familiar with the name <i>Imhotep</i>?" John asked.</p>

<p>I searched my mind. "It sounds familiar, but I couldn't place it. Is he Egyptian?"</p>

<p>"He was, yes," John said. "He is someone we spoke to earlier."</p>

<p>"Earlier?" I said. "Lol." I said. "Fucking lol. You guys act like you talked to him just yesterday. But he's got to be like thousands years dead by now, right?"</p>

<p>"Yes," John said. "But to us, several thousand revolutions of your earth around your sun is not very long at all. We are adapted to living for tens of thousands of years, and our the history of our race extends back to the formation of your galaxy. But as long as it took us to accumulate civilization to such an extent, you will catch up to us very quickly. Especially because we are helping."</p>

<p>"How you do that exactly?" I asked, feeling bold.</p>

<p>"You are familiar with the trellis used to help vines and plants grow?" Ilia asked.</p>

<p>"Uh, yeah," I said. "What about it?"</p>

<p>"The trellis is what humans in their perspective call <i>artificial</i>. It is an artificial construct, intended to help the plant express its nature to an end deemed desirable by the constructor," elaborated Ilia. "Our method of intervention in your history is similar. In many ways, the way your civilization has grown, by latching on to certain spacetime configurations, is like a plant growing on a trellis. We put the trellis there, and we make sure humanity is growing along it."</p>

<p>"Huh, okay," I said, grasping the analogy. "So how far along are we?"</p>

<p>"Humanity is about to reach the top of the trellis," John informed me. "Not much longer in human terms."</p>

<p>"What happens then?" I asked.</p>

<p>They looked between each other. That was odd. They'd been so forthcoming before. What was it about my question that could be difficult?"</p>

<p>"The beginnings of humanity's evolution away from a terrestrial species to a cosmic species," John said. "It would be difficult to describe in more specific detail than that, because we cannot be certain of humanity's evolution past that point. There are several paths your species might take, and it is probable your species will diverge along several of those paths."</p>

<p>"Sounds fascinating," I said. "Also, I bet it's not all flowers and sunshine."</p>

<p>They chittered. "It usually isn't," John said. "But it is worth it."</p>

<p>"Have you... watched a species make the evolutionary transition before?" I asked.</p>

<p>"John has," Ilia said. "I am only an apprentice – only 15,000 years old. When I first started observing humanity, it had already achieved full terrestrial civilization. Watching humanity grow up has been a wonderful experience, and I look forward to watching humanity spread its wings into the universe."</p>

<p>"How do you intervene, exactly? Is it by this method of electromagnetic stimulation?"</p>

<p>"Often," John said. "But we adapt our methods to the individuals."</p>

<p>"And, like, what do you do exactly? Do you reveal to people ideas? Religion?"</p>

<p>"Not exactly, no," Ilia said. "Though we will work through religion as it is necessary. We mostly just inquire about people, to learn their thoughts, and if we find someone with real promise, we make them an offer."</p>

<p>"An offer they can't refuse?"</p>

<p>Ilia chittered, but not John. Was Ilia young enough to get my Godfather reference? "No," Ilia said. "It's just an offer. You can accept it or refuse it, purely by your own free will. We don't want to coerce you in any way."</p>

<p>"Alright," I said. "So why me?"</p>

<p>"You are interesting," John said, his voice smooth. "Promising."</p>

<p>"I see," I said, trying to take it all in. "So you basically set people up to do, like, important historical stuff?"</p>

<p>"Often, yes," John said. "It is how we made sure, for instance, that the Iliad would survive, to accelerate the process of cultural memory. One of the most important things is knowing and remembering where we came from."</p>

<p>"And you did that by, like, talking to a guy, and telling him to make sure to make written copies?" I asked.</p>

<p>"More or less," John said. "But there was a little more to it than that."</p>

<p>"Like we said," Ilia continued, "we make an offer."</p>

<p>"What is the offer? Are you going to make an offer to me?"</p>

<p>"It is just a one-time permanent change to your psyche," John said. His mirror eyes shifted. "We can't know for certain, but it is probable the change to your psyche we have in mind will inspire you to do great things. Civilization building things."</p>

<p>"Like Imhotep," I offered, still unsure who he was.</p>

<p>They nodded. "Like Imhotep," Ilia said.</p>

<p>I'd have to look him up when I remembered later. "Okay," I said. "Hit me."</p>

<p>For a moment they were silent. "Are you sure?"</p>

<p>"Yeah," I said. "I've always wanted to be part of something bigger than myself." This was it, what I had been waiting for. It felt important, and perfect, and <i>right</i>. They were making the right choice in me, because I was exactly the kind of man best positioned to change the world. I felt supreme self-confidence. "And I love humanity. I love human civilization. I want to make a better world for my kids." Then, after a moment's pause, I added, "Someday."</p>

<p>They looked between themselves, then John nodded.</p>

<p>"Alright," Ilia said. "It is done."</p>

<p>"That's it?"</p>

<p>"Farewell."</p>

<p>Then they started fading from my vision, and the ephemeral dream space seemed to recede. As I started realizing this dream space must be just a dream, it collapsed, and I was pulled back into reality. I found myself holding the steering wheel, in traffic. As reality seemed to come back to, so did my sense of control over the car I was driving. Just like that, it was over.</p>

<p>A sudden itch on my mind, I pulled out my phone and called me wife.</p>

<p>"Babe," I said when she picked up.</p>

<p>"Honey," she said, sounding fearful. "I have to... tell you something."</p>

<p>"It's alright," I said. "Whatever it is, you can tell me."</p>

<p>"Are you sure?" she asked, her voice full of trepidation. "I don't want you to be upset."</p>

<p>"I won't be, I promise," I soothed.</p>

<p>"I- I went to the store. I bought a pregnancy test," she said. "I hadn't had my period yet, and the last few days I've been throwing up in the morning... I'm pregnant!"</p>

<p>A thrill of emotion surged through me. "Babe," I said.</p>

<p>"Yeah?" she inquired.</p>

<p>Tears streamed from my eyes. In a single sudden instant of clarity, the rest of the future became clear to me. And I would have to build it. "You've made me the happiest man in the whole world. You seriously have. This is the best thing that's ever happened to me. I love you."</p>

    {% include content-footer.html %}
  </body>
</html>
