---
---
<!DOCTYPE html>

<html>
  <head>
  	<title>Gradient Descent</title>
  	<link rel="stylesheet" type="text/css" href="style.css">
    <meta property="og:title" content="Gradient Descent - the bends(ing)" />
    <meta property="og:url" content="https://nadezhdu.github.io/cyb-ant/v2c8.html" />
    <meta property="og:image" content="https://nadezhdu.github.io/cyb-ant/2_8_banner.png" />
    <meta property="og:type" content="article" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <a name="top"></a>
  	
    {% include navbar.html %}

    <img src="2_8_banner.png">
    <div class="byline">
      <h1>the bends(ing)</h1>
      <h2>by meinong</h2>
    </div>

<p class="no-indent">|| &#x1d628;&#x1d630;&#x1d635; &#x1d634;&#x1d630;&#x1d62e; &#x1d629;&#x1d630;&#x1d636;&#x1d633;&#x1d634; `&#x1d635;&#x1d62a;&#x1d62d; &#x1d625;&#x1d622;&#x1d633;&#x1d62c; <br/>||  &#x1d624;&#x1d630;&#x1d62e;&#x1d626; &#x1d62f;&#x1d630;&#x1d638; , &#x1d627;&#x1d633;&#x2071;&#x1d626;&#x1d62f;&#x1d625; &#x1d62d;&#x1d626;&#x2019;&#x1d634;&#x1d634; &#x1d635;&#x1d622;&#x1d62c;&#x1d626; &#x1d635;&#x1d629; &#x1d623;&#x1d626;&#x1d62f;&#x1d625;- <br/>||  &#x1d635;&#x1d622;&#x1d62c;&#x1d626; &#x1d635;&#x1d629;&#x1d626; &#x1d62d;&#x1d630;&#x1d62f;&#x1d628; &#x1d638;&#x1d622;&#x1d63a; `&#x1d633;&#x1d630;&#x1d636;&#x1d62f;&#x1d625;  ~</p>
<br/>
<p class="no-indent">old flows direct`d ,<br/> t&#x2019;ward End, eye&#x2e2; bent an` &#x1d65;iew bent<br/> the Image   all bent</p>
<br/>
<p class="no-indent">skypp`d steps like a childs`<br/> looking `round heard th&#x2019; crowd-calls<br/> &amp; nothing else more</p>
<br/>
<p class="no-indent">`lusion come alive<br/> as a shine finds its `holder<br/> &amp;holds it now &#x1d635;&#x1d62a;&#x1d628;&#x1d629;&#x1d635;</p>
<br/>
<p class="no-indent">tbe.coming shadow<br/> machine presence risen quick<br/> emerge host to void<br/>~</p>
<br/><br/>
<p class="no-indent">young flower bath`d in<br/> faul&#x1d57;&#x2019;s light &gt;keep On as u Fall !<br/> as thou wilt, be well</p>
<br/>
<p class="no-indent">all u seek, at once!<br/> from th depths like a rabbit<br/> that bubbles &amp;pops</p>
<br/>
<p class="no-indent">(<i>&gt;tho look Here</i>!)</p>
<br/>
<p class="no-indent">light speck-Of-Dust smiles<br/> in the rays from th panel ,<br/> iluminated</p>
<br/>
<p class="no-indent">(<i>&gt;tho look Here</i>&#x2026;)</p>
<br/>
<p class="no-indent">this being-double<br/> when man Is ,he does shadow<br/> on surfaces `round<br/>~</p>
<br/><br/>
<p class="no-indent">once, shamans climb`d tall<br/> for a mountaintop peek of<br/> aworld known on high,</p>
<br/>
<p class="no-indent">now layn in ashes<br/> a` loud wars, peaks come plenty-<br/> alt` plenty&#x2026;- online</p>
<br/>
<p class="no-indent">(&gt;<i>look Out</i>!)</p>
<br/>
<p class="no-indent">solid black wavforms<br/> stir blood mem`ries cymatic;<br/> make new users new</p>
<br/>
<p class="no-indent">mo&#x1d58;ntage-high perspect`<br/> chart a course through th&#x2019; blur sea<br/> Wisdom in th&#x2019; noise<br/>~</p>
<br/><br/>
<p class="no-indent">||   amazon list ful<br/>||    of apocalypse, only<br/>||    &#x1d57;ime have yet t` cliqck<br/>||<br/>||   `masons!&#x2019;, crie dixies<br/>||    `GRIDDOWN!&#x2014; unt&#x2071;e our cities,<br/>||    damn America!</p>
<br/>
<p class="no-indent">txts like textures told<br/> through generations in th&#x2019;<br/> way o` whisper games,</p>
<br/>
<p class="no-indent">in th&#x2019; way of crushed<br/> berries,sweets pluck`d from d` vine~<br/> for pleasure,   so speak<br/>~</p>
<br/><br/>
<p class="no-indent">now, &amp; possibly,<br/> a play in what Is bowing<br/> ,toward what may be</p>
<br/>
<p class="no-indent">motion means&#x2e3;&#x305; actors !!<br/> together All share in One&#x2019;s<br/> grand push-bloc&#x1d4f; puzzle</p>
<br/>
<p class="no-indent">(<i>so</i>..)</p>
<br/>
<p class="no-indent">take pixels like clay<br/> bent light, bent twice &amp;once more<br/> made shapely in hand-</p>
<br/>
<p class="no-indent">en virtual`d hands-<br/> mov`d forth by an other mov`d<br/> forth by another <br/>~</p>
<br/><br/>
<p class="no-indent">(<i>SO</i>!!)</p>
<br/>
<p class="no-indent">this feast o` tears &#x1d52;&#x2b0;!<br/> demons , kno it as thy last<br/> for &#x1d635;&#x1d629;&#x1d626;&#x1d634;&#x1d626; come Of-Joy</p>
<br/>
<p class="no-indent">my &#x1d4d;listening tears<br/> o demons! , drink ful to last<br/> for by them comes Grace</p>
<br/>
<p class="no-indent">(&gt;&#x1d04;&#x29f;&#x26a;&#x1d04;&#x1d0b; &#x29c;&#x1d07;&#x280;&#x1d07;!)</p>
<br/>
<p class="no-indent">a gesture human!<br/> &amp;gates shall &#x1da0;all be for u<br/> right searcher !, fear none</p>
<br/>
<p class="no-indent">(<i>&gt;look Up!</i>)</p>
<br/>
<p class="no-indent">a blackout poem ,<br/> New constelations cloud-carv`d<br/> through opennight sky<br/>~</p>
<br/><br/>
<p class="no-indent">(<i>&gt;look There!</i>)</p>
<br/>
<p class="no-indent">a crystall,as dance<br/> a twist ,a` face , an angl&#x1d49;,<br/> Revealing itself</p>
<br/>
<p class="no-indent">a veil ,Being razed<br/> each image search , a Warhaul<br/> lift high wht u find</p>
<br/>
<p class="no-indent">(<i>&gt;look `round!</i>)</p>
<br/>
<p class="no-indent">All-concept in pure!<br/> ``metaphor`s a metaphor<br/> fr what now we see</p>
<br/>
<p class="no-indent">ay bask in this Light,<br/> in th&#x2019; Persons exhaled, &amp;<br/> ths Play now we p&#x2b3;ay<br/>~</p>

    {% include content-footer.html %}
  </body>
</html>
