<ul class="navbar">
	<li><a href="index.html">index</a></li>
  <li><div class="drop">
    <span class="droptop">volume 1 ▼</span>
    <ul class="toc">
      <li><a href="v1c1.html">fetish</a></li>
      <li><a href="v1c2.html">i_am_sovereign</a></li>
      <li><a href="v1c3.html">archangel</a></li>
      <li><a href="v1c4.html">social_stabilization</a></li>
      <li><a href="v1c5.html">moon-one</a></li>
      <li><a href="v1c6.html">the_new_death</a></li>
    </ul>
  </div></li>
  <li><div class="drop">
    <span class="droptop">volume 2 ▼</span>
    <ul class="toc">
      <li><a href="v2c1.html">ghetto</a></li>
      <li><a href="v2c2.html">altar_of_speed</a></li>
      <li><a href="v2c3.html">black_box_protocol_event</a></li>
      <li><a href="v2c4.html">it_is_the_night_of_the_idol</a></li>
      <li><a href="v2c5.html">god's_trellis</a></li>
      <li><a href="v2c6.html">web;stuck/unstuck</a></li>
      <li><a href="v2c7.html">a_joke</a></li>
      <li><a href="v2c8.html">the_bends(ing)</a></li>
      <li><a href="v2c9.html">the_wires</a></li>
      <li><a href="v2c10.html">fluorescent_graveyards</a></li>
    </ul>
  </div></li>
  <li><a href="downloads.html">downloads</a></li>
  <li><a href="secret.html">&nbsp;</a></li>
</ul>
<hr>